<?xml version="1.0"?>
<config>
    <modules>
        <Nortoneo_TwoFactorAuth>
            <version>0.1.0</version>
        </Nortoneo_TwoFactorAuth>
    </modules>
    <global>
        <models>
            <nortoneo_twofactorauth>
                <class>Nortoneo_TwoFactorAuth_Model</class>
                <resourceModel>nortoneo_twofactorauth_resource</resourceModel>
            </nortoneo_twofactorauth>
            <nortoneo_twofactorauth_resource>
                <class>Nortoneo_TwoFactorAuth_Model_Resource</class>
                <entities>
                    <userSettings>
                        <table>nortoneo_twofactorauth_user_settings</table>
                    </userSettings>
                </entities>
            </nortoneo_twofactorauth_resource>
        </models>
        <blocks>
            <nortoneo_twofactorauth>
                <class>Nortoneo_TwoFactorAuth_Block</class>
            </nortoneo_twofactorauth>
        </blocks>
        <helpers>
            <nortoneo_twofactorauth>
                <class>Nortoneo_TwoFactorAuth_Helper</class>
            </nortoneo_twofactorauth>
        </helpers>
        <resources>
            <nortoneo_twofactorauth_setup>
                <setup>
                    <module>Nortoneo_TwoFactorAuth</module>
                </setup>
            </nortoneo_twofactorauth_setup>
        </resources>
        <template>
            <email>
                <nortoneo_twofactorauth_code translate="label" module="adminhtml">
                    <label>Two Factor Authentication Code</label>
                    <file>nortoneo/twofactorauth/code.html</file>
                    <type>html</type>
                </nortoneo_twofactorauth_code>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <nortoneo_twofactorauth>
                <use>admin</use>
                <args>
                    <frontName>nortoneo_twofactorauth</frontName>
                    <module>Nortoneo_TwoFactorAuth_Adminhtml</module>
                </args>
            </nortoneo_twofactorauth>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <nortoneo_twofactorauth>
                    <file>nortoneo/twofactorauth.xml</file>
                </nortoneo_twofactorauth>
            </updates>
        </layout>
        <translate>
            <modules>
                <nortoneo_twofactorauth>
                    <files>
                        <default>nortoneo/twofactorauth.csv</default>
                    </files>
                </nortoneo_twofactorauth>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <nortoneo_twofactorauth_authentication>
                        <type>singleton</type>
                        <class>nortoneo_twofactorauth/observer</class>
                        <method>processAuthentication</method>
                    </nortoneo_twofactorauth_authentication>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
</config>